@tailwind base;
@tailwind components;
@tailwind utilities;

table tr,
table th,
table td {
  border: 1px solid;
  padding: 10px 0;
}

table td {
  text-align: center;
}

.pdf-div {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}